name: Python CICD Demo

on: 
  push: 
    branches: [ main ]
  pull_request:

jobs: 
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
  
      - name: Set up python
        uses: actions/setup-python@v4
        with: 
          python-version: "3.11"
  
      - name: Install dependencies
        run: pip install -r requirements.txt
  
      - name: Run tests
        run: pytest -v

      - name: Run tests with coverage
        run: pytest --cov=. --cov-report=term --cov-report=xml --html-report.html --self-contained-html

      - name: Prepare the webpage
        run: |
          mkdir sites
          mv htmlcov sites/
          my coverage.xml sites/
          

      - name: upload the artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          path: .\sites

  Deploy:
    needs: run-tests
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: deploy the artifacts
        uses: actions/deploy-pages@v4
        
  
