name: Python CICD Demo

on: 
  push: 
    branches: [ main ]
  pull_request:

jobs: 
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
  
      - name: Set up python
        uses: actions/setup-python@v4
        with: 
          python-version: "3.11"
  
      - name: Install dependencies
        run: pip install -r requirements.txt
  
      - name: Run tests
        run: pytest -v

      - name: Run tests with coverage
        run: pytest --cov=. --cov-report=term --cov-report=xml --html-report.html --self-contained-html
        
  
